body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: rgba(96, 64, 64, 0.9);
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    background: url('images_resized/milky-way-galaxy-dark-night-sky.jpg') no-repeat center center;
    position: fixed;
}
#header-div {
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    
}

#page-title {
    font-size: 48px;
    color: white;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#select-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 20px;
}
#select-button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 32px;
    background-color: rgb(20, 83, 142);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
    
}
#select-button-container button:hover {
    background-color: rgb(30, 100, 170);
}

#select-container-itrf, #select-container-etrf {
    flex-direction: row;
    align-items: start;
    justify-content: start;
    justify-self: start;
    margin-top: 20px;
    display: none;
    transition: opacity 0.5s ease;
}

.fieldset-container-1, .fieldset-container-2 {
    padding: 20px;
    border: 2px 1px 2px 2px solid black;
    
}
.fieldset-container-1 {
    background-color: white;
}
.fieldset-container-2 {
    background-color: rgb(30, 100, 170);
}

#legend-from, #legend-to {
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0 10px;
}
#legend-to {
    color: white;
}

.from, .to {
    margin: 0 0px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
.to {
    background-color: rgb(30, 100, 170);
}

.from div {
    border: 1px solid black;
    padding: 8px 12px;
}
.to div {
    background-color: rgb(30, 100, 170);
    color: white;
    border: 1px solid black;
    padding: 8px 12px;
}

.from div, .to div {
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.from div:hover, .to div:hover {
    background-color: rgba(0,0,0,0.2);
}

.selected_itrf, .selected_etrf {
    background-color: rgba(245, 54, 143, 0.6) !important;
}


#main-div {
    display: flex;
    flex-direction: row;
}


#second-step-div {
    opacity: 0;
    height: 70vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: absolute;
    left: 30%;
    transition: left 1s ease, opacity 2s ease;
    pointer-events: none;
}

#content-div {
    display: flex;
    flex-direction: column;
    transition: transform 1s ease, opacity 1s ease;
}

.first-step-div-transformed {
    transform: translateX(-40%);
}


#next-button, #calculate-button{
    margin: 0 10px;
    padding: 24px 40px;
    font-size: 48px;
    background-color: rgb(20, 83, 142);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

#next-button:hover, #calculate-button:hover {
    background-color: rgb(30, 100, 170);
}

#main-div {
    position: relative;
}

#third-step-div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: absolute;
    pointer-events: none;
    left: 10%;
    top: -5%;
    transition: transform 0.85s ease, opacity 2s ease;
}

.third-step-div-to-trans {
    opacity: 0;
    transform: translateX(300%);
}
.third-step-div-transformed {
    transform: translateX(0);
    opacity: 1;
}

#textfield {
    pointer-events: auto;
    width: 500px;
    height: 400px;
    border-radius: 0 0 15px 15px;
}

.text-area {
    font-size: 48px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Georgia', serif;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#instructions-container {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: white;
    border-radius: 15px 15px 0 0;
}
#instructions-container p {
    margin: 2px 0;
}

.instructions {
    font-family: 'Times New Roman', serif;
}

#fourth-step-div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: absolute;
    pointer-events: none;
    left: 115%;
    top: 40%;
    transition: transform 0.85s ease-out, opacity 2s ease;
    pointer-events: none;
}

.fourth-step-div-to-trans {
    opacity: 0;
    transform: translateX(500%);
}
.fourth-step-div-transformed {
    transform: translateX(0);
    opacity: 1;
}

#calculate-button {
    pointer-events: auto;
    cursor: pointer;

}